#main-body{
    padding: 0 10%;
    display: flex;
    align-items: flex-start;
}
.body-section{
    margin: 5px;
    padding: 10px;
    background-color: #393E46;
    border: black 1px solid;
    border-radius: 10px;
}
.body-section  h1,h2{
    color: #B4B1FF;
    border-bottom: #B4B1FF 1px solid;
}
#content{
    flex: 6 1 0;
}
#slide-bar{
    flex: 4 1 0
}
#map{
    width: 100%; 
    padding-bottom: 56.25%; 
    position: relative;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}