#main-body{
    padding: 0 10%;
    display: flex;
    align-items: flex-start;
}
.body-section{
    margin: 5px;
    padding: 10px;
    background-color: #393E46;
    border: black 1px solid;
    border-radius: 10px;
}
.body-section  h1,h2{
    color: #B4B1FF;
    border-bottom: #B4B1FF 1px solid;
}
#content{
    flex: 6 1 0;
}
#slide-bar{
    flex: 4 1 0
}
#map{
    width: 100%; 
    padding-bottom: 56.25%; 
    position: relative;
}