*{
    transition: 0.5s;
}
body {
    font-family: Roboto ,Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #EEEEEE;
    background-color: #222831;
    position: relative;
    margin: 0;
    min-width: 1000px;
}
h1,h2{
    color: #B4B1FF;
    border-bottom: #B4B1FF 1px solid;
}
a{
    text-decoration: none;
    color: #EEEEEE;
}